html,
body,
div,
span,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
form,
ul,
li,
textarea,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Microsoft YaHei', '宋体', 'Arial', '黑体', sans-serif;
}

a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

input,
button {
  border: none;
  outline: none;
}

.color_fff {
  color: #ffffff;
}

.theme_color {
  color: #f53a35;
}

/* 字体颜色 */
.black_color {
  color: #222;
}

.gray_color {
  color: #7d7c7c;
}

.yellow_color {
  color: #ff9d24;
}

/* flex布局 */
.flex_between {
  display: flex;
  justify-content: space-between;
}

.flex_center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex_bea {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex_align {
  display: flex;
  align-items: center;
}

.text {
  font-size: 13px;
  color: #7d7c7c;
}

/* 小标签 */
.tag {
  /* display: inline-block; */
  padding: 2px 5px;
  border-radius: 3px;
  background-color: #6b4cd6;
  margin-right: 6px;
  font-weight: 700;
}

.tit {
  font-size: 15px;
  color: #222;
  font-weight: 700;
}

.new_tag {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50% 0 50% 0;
  background-color: #d85124;
  color: #fff;
  padding: 1px 4px;
  font-size: 12px;
}

/* 上下padding的类 */
.pd_up {
  padding: 70px 0 50px 0;
}

/* 没有更多了 */
.no_more {
  display: flex;
  justify-content: center;
  padding-top: 16px;
}