html,
body,
div,
span,
p,
a,
img,
h1,
h2,
h3,
h4,
h5,
h6,
input,
button,
form,
ul,
li,
ol {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html,
body {
  height: 100%;
  width: 100%;
}
a {
  text-decoration: none;
}
ul,
ol {
  list-style: none;
}
input,
button {
  border: none;
  outline: none;
}
